<template>
  <!-- Default box -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User Page</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Page</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <!-- Main content -->
    <div class="row">
      <div class="col-10 offset-1">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">User List</h3>
            <div class="card-tools"></div>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 250px">
                <input
                  type="text"
                  v-model="query"
                  class="form-control float-right"
                  placeholder="Search"
                />

                <div class="input-group-append">
                  <button type="button" class="btn btn-default" @click="reload">
                    <i class="fas fa-sync"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Sl.</th>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Email</th>
                  <th>Image</th>
                  <th>Is_blocked</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, index) in users" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ user.name ?? 'n/a'}}</td>
                  <td>{{ user.mobile ?? 'n/a'}}</td>
                  <td>{{ user.email ?? 'n/a' }}</td>
                  <td>
                    <img
                      :src="user.avatar"
                      style="width: 50px; height: 50px"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      @click="userBlockStatus(user.id)"
                      class="badge"
                      :class="statusColor(user.is_blocked)"
                    >
                      {{ blockStatus(user.is_blocked) }}
                    </button>
                  </td>
                </tr>
                <tr v-show="!users.length">
                  <td colspan="6">
                    <div class="alert alert-danger text-center">
                      <strong>Sorry!! No data found.</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="mt-0" />
            <pagination
              v-if="pagination.last_page > 1"
              :pagination="pagination"
              :offset="5"
              @paginate="query === '' ? fetchUsers() : searchUser()"
            ></pagination>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.content -->
  </section>
  <!-- /.card -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      query: "",
     
    };
  },
  mounted() {
    this.fetchUsers();
    // this.searchUser();
  },

  computed: {
    ...mapGetters({
      users: "users",
      pagination: "paginations",
    }),
  },
  watch: {
    query: function (newQ, old) {
      if (newQ === "") {
        this.fetchUsers();
      } else {
        this.searchUser();
      }
    },
  },
  methods: {
    ...mapActions({
      fetchUsers: "fetchUsers",
      userBlockStatus: "userBlockStatus",
      // searchUser: "searchUser",
    }),
   searchUser(){
     this.$store.dispatch('searchUser',this.query)
   },
    userBlockStatus(index){
     this.$store.dispatch('userBlockStatus',index)
      this.fetchUsers();
      this.$toast.success(`Success! Status has been Changed!!`);
   },
    reload() {
      this.fetchUsers();
      this.query = "";
      this.$toast.warning(`Data Refresh Successfully!`);
    },
    blockStatus(status) {
      let data = { 0: "Active", 1: "Blocked" };
      return data[status];
    },
    statusColor(status) {
      let data = { 0: "bg-success", 1: "bg-danger" };
      return data[status];
    },

  },

};
</script>

<style></style>
