<template>
  <!-- Default box -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Product Page</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Product Page</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <!-- Main content -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Product List</h3>
            <div class="card-tools">
              <!-- <router-link
                :to="{ name: 'CategoryCreate' }"
                class="btn btn-outline-info btn-sms"
                style="margin-right: 164px; padding: 3px"
              >
                <i class="fa fa-plus"></i> Add new
              </router-link> -->
            </div>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 250px">
                <input
                  type="text"
                  v-model="query"
                  class="form-control float-right"
                  placeholder="Search"
                />

                <div class="input-group-append">
                  <button type="button" class="btn btn-default" @click="reload">
                    <i class="fas fa-sync"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Sl.</th>
                  <th>Name</th>
                  <th>Brand</th>
                  <th>Vendor</th>
                  <th>Category</th>
                  <th>Supplier</th>
                  <th>Image</th>
                  <th>Stock</th>
                  <th>Unit</th>
                  <th>is_blocked</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, index) in products" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.brand }}</td>
                  <td>{{ product.user_id }}</td>
                  <td>{{ product.category_id }}</td>
                  <td>{{ product.supplier_id }}</td>
                  <td><img :src="product.avatar" style="width: 50px" /></td>
                  <td>{{ product.stock.qty ?? "null" }}</td>
                  <td>{{ product.stock.unit ?? "null" }}</td>
                  <td>
                    <button
                      type="button"
                      @click="productBlockStatus(product.id)"
                      class="badge"
                      :class="blockColor(product.is_blocked)"
                    >
                      {{ blockStatus(product.is_blocked) }}
                    </button>
                  </td>
                </tr>
                <tr v-show="!products.length">
                  <td colspan="8">
                    <div class="alert alert-danger text-center">
                      <strong>Sorry!! No data found.</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="mt-0" />
            <pagination
              v-if="pagination.last_page > 1"
              :pagination="pagination"
              :offset="5"
              @paginate="query === '' ? fetchProducts() : searchProduct()"
            ></pagination>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.content -->
  </section>

  <!-- /.card -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      query: "",
    };  
  },
  mounted() {
    this.fetchProducts();
    // this.searchCustomer();
  },

  computed: {
    ...mapGetters({
      products: "getProducts",
      pagination: "paginations",
    }),
  },
  watch: {
    query: function (newQ, old) {
      if (newQ === "") {
        this.fetchProducts();
      } else {
        this.searchProduct();
      }
    },
  },
  methods: {
    ...mapActions({
      fetchProducts: "fetchProducts",
      productBlockStatus: "productBlockStatus",
      // searchCustomer: "searchCustomer",
    }),
    searchProduct() {
      this.$store.dispatch("searchProduct", this.query);
    },
    productBlockStatus(index) {
      this.$store.dispatch("productBlockStatus", index);
      this.fetchProducts();
      this.$toast.success(`Success! Status has been Changed!!`);
    },
    reload() {
      this.fetchProducts();
      this.query = "";
      this.$toast.warning(`Data Refresh Successfully!`);
    },
    blockStatus(status) {
      let data = { 0: "Active", 1: "Blocked" };
      return data[status];
    },
    blockColor(status) {
      let data = { 0: "bg-success", 1: "bg-danger" };
      return data[status];
    },
  },
};
</script>

<style></style>
