<template>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Category Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Category Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
        <div class="col-6 offset-3">
            <div class="callout callout-success">
                <div class="card-header">
                    <h3 class="card-title inline" style="display: inline-block">
                        Add New Category
                    </h3>
                    <span class="float-right">
                        <router-link
                            :to="{ name: 'CategoryIndex' }"
                            class="btn btn-danger btn-sm"
                        >
                            <i class="fa fa-arrow-circle-left"></i> &nbsp;Back
                        </router-link>
                    </span>
                </div>

                <!-- /.card-header -->
                <!-- form start -->
                <form @submit="submitForm" class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">
                                Category Name</label
                            >
                            <div class="col-sm-9">
                                <input
                                    type="text"
                                    v-model="form.name"
                                    class="form-control"
                                    id="name"
                                />
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">
                            Submit
                        </button>
                        <button
                            type="reset"
                            class="btn btn-default float-right"
                        >
                            Cancel
                        </button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
        <!-- /.card -->
    </div>
    </section>




  
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "CategoryCreate",
    data() {
        return {
            form: {
                name: null,
            },
            errors: {},
        };
    },
    // methods: {
    //     addCategory() {
    //         this.$store
    //             .dispatch("ADD_DATA", this.form)
    //             .then((res) => {
    //                 // console.log(res);
    //                 this.$router.push({ name: "CategoryIndex " });
    //             })
    //             .catch((err) => {
    //                 this.errors = err.response.data.errors;
    //                 //   console.log(err.response.data.errors);
    //             });
    //     },
    // },
    methods: {
        ...mapActions(["addCategory"]),
         changeBlockStatus(index){
     this.$store.dispatch('changeBlockStatus',index)
      this.fetchCustomer();
      this.$toast.success(`Success! Status has been Changed!!`);
   },
    },
};
</script>

<style></style>
