<template>
  <!-- Default box -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Category Page</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Category Page</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <!-- Main content -->
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Category List</h3>
            <div class="card-tools">
              <!-- <router-link
                :to="{ name: 'CategoryCreate' }"
                class="btn btn-outline-info btn-sms"
                style="margin-right: 164px; padding: 3px"
              >
                <i class="fa fa-plus"></i> Add new
              </router-link> -->
            </div>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 250px">
                <input
                  type="text"
                  v-model="query"
                  class="form-control float-right"
                  placeholder="Search"
                />

                <div class="input-group-append">
                  <button type="button" class="btn btn-default" @click="reload">
                    <i class="fas fa-sync"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Sl.</th>
                  <th>Category Name</th>
                  <th>Vendor</th>
                  <th>isBlocked</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(category, index) in categories" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ category.name }}</td>
                  <td>{{ category.user_id }}</td>
                  <!-- <td>
                    <button
                      type="button"
                      @click="changeStatus(category.id)"
                      class="badge"
                      :class="statusColor(category.is_active)"
                    >
                      {{ statusName(category.is_active) }}
                    </button>
                  </td> -->

                  <td>
                    <button
                      type="button"
                      @click="catsBlockStatus(category.id)"
                      class="badge"
                      :class="statusColor(category.is_blocked)"
                    >
                      {{ blockStatus(category.is_blocked) }}
                    </button>
                  </td>
                </tr>
                <tr v-show="!categories.length">
                  <td colspan="6">
                    <div class="alert alert-danger text-center">
                      <strong>Sorry!! No data found.</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="mt-0" />
            <pagination
              v-if="pagination.last_page > 1"
              :pagination="pagination"
              :offset="5"
              @paginate="query === '' ? fetchCategory() : searchCategory()"
            ></pagination>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.content -->
  </section>

  <!-- /.card -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      query: "",
    };
  },
  mounted() {
    this.fetchCategory();
    // this.searchData();
  },

  computed: {
    ...mapGetters({
      categories: "categories",
      pagination: "paginations",
    }),
  },
  watch: {
    query: function (newQ, old) {
      if (newQ === "") {
        this.fetchCategory();
      } else {
        this.searchCategory();
      }
    },
  },
  methods: {
    ...mapActions({
      fetchCategory: "fetchCategory",
      catsBlockStatus: "catsBlockStatus",
      // searchData: "searchData",
    }),
   searchCategory(){
     this.$store.dispatch('searchCategory',this.query)
   },
    catsBlockStatus(index){
     this.$store.dispatch('catsBlockStatus',index)
      this.fetchCategory();
      this.$toast.success(`Success! Status has been Changed!!`);
   },
    reload() {
      this.fetchCategory();
      this.query = "";
      this.$toast.warning(`Data Refresh Successfully!`);
    },
    blockStatus(status) {
      let data = { 0: "Active", 1: "Blocked" };
      return data[status];
    },
    statusColor(status) {
      let data = { 0: "bg-success", 1: "bg-danger" };
      return data[status];
    },

  },
};
</script>

<style></style>
