<template>
  <!-- Default box -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Supplier Page</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Supplier Page</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <!-- Main content -->
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Supplier List</h3>
            <div class="card-tools">
              <!-- <router-link
                :to="{ name: 'CategoryCreate' }"
                class="btn btn-outline-info btn-sms"
                style="margin-right: 164px; padding: 3px"
              >
                <i class="fa fa-plus"></i> Add new
              </router-link> -->
            </div>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 250px">
                <input
                  type="text"
                  v-model="query"
                  class="form-control float-right"
                  placeholder="Search"
                />

                <div class="input-group-append">
                  <button type="button" class="btn btn-default" @click="reload">
                    <i class="fas fa-sync"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Sl.</th>
                  <th>Name</th>
                  <th>Vendor</th>
                  <th>Mobile</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Image</th>
                  <th>is_blocked</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(supplier, index) in suppliers" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ supplier.name }}</td>
                  <td>{{ supplier.user_id }}</td>
                  <td>{{ supplier.phone }}</td>
                  <td>{{ supplier.address }}</td>
                  <td>{{ supplier.email }}</td>
                  <td><img :src="supplier.avatar" style="width:50px"></td>

                  <td>
                    <button
                      type="button"
                      @click="suppBlockStatus(supplier.id)"
                      class="badge"
                      :class="statusColor(supplier.is_blocked)"
                    >
                      {{ blockStatus(supplier.is_blocked) }}
                    </button>
                  </td>
                </tr>
                <tr v-show="!suppliers.length">
                  <td colspan="8">
                    <div class="alert alert-danger text-center">
                      <strong>Sorry!! No data found.</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="mt-0" />
            <pagination
              v-if="pagination.last_page > 1"
              :pagination="pagination"
              :offset="5"
              @paginate="query === '' ? fetchSupplier() : searchSupplier()"
            ></pagination>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.content -->
  </section>

  <!-- /.card -->
</template>

<script>
import axios from "axios";
import {  mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      query: "",
    };
  },

  mounted() {
    this.fetchSupplier();
    // this.searchSupplier();
  },

  computed: {
    ...mapGetters({
      suppliers: "suppliers",
      pagination: "paginations",
    }),
  },
  
  watch: {
    query: function (newQ, old) {
      if (newQ === "") {
        this.fetchSupplier();
      } else {
        this.searchSupplier();
      }
    },
  },
  methods: {
    ...mapActions({
      fetchSupplier: "fetchSupplier",
      suppBlockStatus: "suppBlockStatus",
      // searchSupplier: "searchSupplier",
    }),
   searchSupplier(){
     this.$store.dispatch('searchSupplier',this.query)
   },
    suppBlockStatus(index){
     this.$store.dispatch('suppBlockStatus',index)
      this.fetchSupplier();
      this.$toast.success(`Success! Status has been Changed!!`);
   },
    reload() {
      this.fetchSupplier();
      this.query = "";
      this.$toast.warning(`Data Refresh Successfully!`);
    },
    blockStatus(status) {
      let data = { 0: "Active", 1: "Blocked" };
      return data[status];
    },
    statusColor(status) {
      let data = { 0: "bg-success", 1: "bg-danger" };
      return data[status];
    },

  },

};
</script>

<style></style>
